body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

nav {
  background: #000;
  padding: 50px;
  text-align:center;
}

nav a {
  color: white;
  margin-right: 30px;
  text-decoration: none;
  text-align:center;
}

section {
  padding: 20px;
}

img {
  width: 120px;
  height: auto;
}

footer {
  text-align: center;
  padding: 10px;
  background: #000;
  color: white;
}
